﻿
@{

    ViewData["Title"] = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Alliance &#8211; Just another HTML Template</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/bp/bbpress-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/comp/comp.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/flipclock.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/swiper/idangerous.swiper.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
</head>

<body class="home-page home page body_style_fullwide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">
    <div class="body_wrap">
            <div class="page_content_wrap">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single post_featured_left post_format_standard page hentry">
                            <section class="post_content">
                                <div class="sc_reviews alignright">
                                </div>
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <figure class="sc_image alignleft sc_image_shape_square cublock1">
                                                    <img src="images/66-30x30.jpg" alt="" />
                                                </figure>
                                                <p class="sc_text fst1">Mantente fiel a los sueños de tu juventud.<i></i></p>
                                                <div class="grid ">
                                                    <div class="grid-sizer"></div>
                                                    <div class="gutter-sizer"></div>
                                                    <div class="grid-item grid-item--width2 responsive_small ">
                                                        <div id="sc_slider_382" class="sc_slider sc_slider_swiper swiper-slider-container sc_slider_height_fixed sc_slider_controls sc_slider_nopagination" data-old-width="763" data-old-height="460" data-interval="8772">
                                                            <div class="slides swiper-wrapper">
                                                                <div class="swiper-slide" data-style="width:763px;height:460px;">
                                                                    <a href="activity" title="New iPhone 6S Report Confirms 7 Biggest Features">
                                                                        <img alt="" src="images/recaudacion.jpg">
                                                                        <div class="sc_slider_info content-slide">
                                                                            <h2 class="sc_slider_subtitle">
                                                                                <a href="activity">Recaudacion de Fondos</a>
                                                                            </h2>
                                                                            <div class="sc_slider_date">8/13/2021</div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <div class="swiper-slide" data-style="width:763px;height:460px;">
                                                                    <a href="activity" title="The beautiful Prologue is a new visionary design for Audi">
                                                                        <img alt="" src="images/vacunacionindex.jpg">
                                                                        <div class="sc_slider_info content-slide">
                                                                            <h2 class="sc_slider_subtitle">
                                                                                <a href="activity">Vacunacion</a>
                                                                            </h2>
                                                                            <div class="sc_slider_date">8/2/2021</div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <div class="swiper-slide" data-style="width:763px;height:460px;">
                                                                    <a href="activity" title="New iPhone 6S Report Confirms 7 Biggest Features">
                                                                        <img alt="" src="images/futbolindex2.jpg">
                                                                        <div class="sc_slider_info content-slide">
                                                                            <h2 class="sc_slider_subtitle">
                                                                                <a href="activity">Pruebas de Futbol</a>
                                                                            </h2>
                                                                            <div class="sc_slider_date">7/25/2021</div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="sc_slider_controls_wrap">
                                                                <a class="sc_slider_prev" href="#"></a>
                                                                <a class="sc_slider_next" href="#"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    @*<div class="grid-item">
                                                        <div class="sc_sidebar_selector">
                                                            <div class="sc_columns_1 sc_columns_indent">
                                                                <div class="widget_area">
                                                                    <canvas id="canvas" alt=""
                                                                            style="margin-left:25%">
                                                                    </canvas>

                                                                    <script>
                                                                        var canvas = document.getElementById("canvas");
                                                                        var ctx = canvas.getContext("2d");
                                                                        var radius = canvas.height / 2;
                                                                        ctx.translate(radius, radius);
                                                                        radius = radius * 0.90
                                                                        setInterval(drawClock, 1000);

                                                                        function drawClock() {
                                                                            drawFace(ctx, radius);
                                                                            drawNumbers(ctx, radius);
                                                                            drawTime(ctx, radius);
                                                                        }

                                                                        function drawFace(ctx, radius) {
                                                                            var grad;
                                                                            ctx.beginPath();
                                                                            ctx.arc(0, 0, radius, 0, 2 * Math.PI);
                                                                            ctx.fillStyle = 'white';
                                                                            ctx.fill();
                                                                            grad = ctx.createRadialGradient(0, 0, radius * 0.95, 0, 0, radius * 1.05);
                                                                            grad.addColorStop(0, '#333');
                                                                            grad.addColorStop(0.5, 'white');
                                                                            grad.addColorStop(1, '#333');
                                                                            ctx.strokeStyle = grad;
                                                                            ctx.lineWidth = radius * 0.1;
                                                                            ctx.stroke();
                                                                            ctx.beginPath();
                                                                            ctx.arc(0, 0, radius * 0.1, 0, 2 * Math.PI);
                                                                            ctx.fillStyle = '#333';
                                                                            ctx.fill();
                                                                        }

                                                                        function drawNumbers(ctx, radius) {
                                                                            var ang;
                                                                            var num;
                                                                            ctx.font = radius * 0.15 + "px arial";
                                                                            ctx.textBaseline = "middle";
                                                                            ctx.textAlign = "center";
                                                                            for (num = 1; num < 13; num++) {
                                                                                ang = num * Math.PI / 6;
                                                                                ctx.rotate(ang);
                                                                                ctx.translate(0, -radius * 0.85);
                                                                                ctx.rotate(-ang);
                                                                                ctx.fillText(num.toString(), 0, 0);
                                                                                ctx.rotate(ang);
                                                                                ctx.translate(0, radius * 0.85);
                                                                                ctx.rotate(-ang);
                                                                            }
                                                                        }

                                                                        function drawTime(ctx, radius) {
                                                                            var now = new Date();
                                                                            var hour = now.getHours();
                                                                            var minute = now.getMinutes();
                                                                            var second = now.getSeconds();
                                                                            //hour
                                                                            hour = hour % 12;
                                                                            hour = (hour * Math.PI / 6) +
                                                                                (minute * Math.PI / (6 * 60)) +
                                                                                (second * Math.PI / (360 * 60));
                                                                            drawHand(ctx, hour, radius * 0.5, radius * 0.07);
                                                                            //minute
                                                                            minute = (minute * Math.PI / 30) + (second * Math.PI / (30 * 60));
                                                                            drawHand(ctx, minute, radius * 0.8, radius * 0.07);
                                                                            // second
                                                                            second = (second * Math.PI / 30);
                                                                            drawHand(ctx, second, radius * 0.9, radius * 0.02);
                                                                        }

                                                                        function drawHand(ctx, pos, length, width) {
                                                                            ctx.beginPath();
                                                                            ctx.lineWidth = width;
                                                                            ctx.lineCap = "round";
                                                                            ctx.moveTo(0, 0);
                                                                            ctx.rotate(pos);
                                                                            ctx.lineTo(0, -length);
                                                                            ctx.stroke();
                                                                            ctx.rotate(-pos);
                                                                        }
                                                                    </script>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sc_infobox sc_infobox_style_error sc_infobox_closeable mgcu2">
                                                            <div class="sc_infobox_before_title">Notificaciones importantes</div>
                                                            <div class="sc_infobox_title"></div>La municipalidad estara cerrarda mañana!
                                                        </div>

                                                    </div>*@
                                                    <div class="grid-item grid-item--width2">
                                                        @*<div class="sc_section bg1">
                <div class="sc_section_overlay pd40">
                    <div class="sc_section_content">
                        <a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small bt1">Proxima Actividad</a>
                        <h1 class="sc_title sc_title_regular fst2">Concierto en el parque de Tres Ríos.</h1>

                    </div>
                </div>
            </div>*@
                                                        <div class="sc_section bg2">
                                                            <div class="sc_section_overlay pd25">
                                                                <div class="sc_section_content">
                                                                    <a href="activity" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small alignright bt2">Todas las actividades</a>
                                                                    <p class="sc_text fst3">Actividades</p>
                                                                    <div id="sc_blogger_449" class="sc_blogger layout_news template_news  sc_blogger_horizontal no_description mgcu1" data-size="66x66">
                                                                        <div class="column-1_1 column_item_1">
                                                                            <div class="post_item post_item_news sc_blogger_item">
                                                                                <div class="post_featured">
                                                                                    <div class="post_thumb" data-image="images/covid.jpg" data-title="Donec scelerisque metus condimentum nisl dolor.">
                                                                                        <a class="hover_icon hover_icon_link" href="activity">
                                                                                            <img alt="" src="images/covid.jpg">
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="post_inner">
                                                                                    <div class="post_date">Agosto 2, 2021 a la 1:34 pm</div>
                                                                                    <h4 class="post_title sc_title sc_blogger_title">
                                                                                        <a href="activity">Recaudacion de Fondos</a>
                                                                                    </h4>
                                                                                    <div class="post_content sc_blogger_content">
                                                                                        <p>La fecha 8/13/2021 vamos a recaudar alimentos enlatados para los afectados por las lluvias en Turrialba</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column-1_1 column_item_2">
                                                                            <div class="post_item post_item_news sc_blogger_item">
                                                                                <div class="post_featured">
                                                                                    <div class="post_thumb" data-image="images/fondos.jpg" data-title="Cras non luctus turpis.">
                                                                                        <a class="hover_icon hover_icon_link" href="activity">
                                                                                            <img alt="" src="images/fondos.jpg">
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="post_inner">
                                                                                    <div class="post_date">Agosto 11, 2021 a las 2:33 pm</div>
                                                                                    <h4 class="post_title sc_title sc_blogger_title">
                                                                                        <a href="activity">Vacunacion.</a>
                                                                                    </h4>
                                                                                    <div class="post_content sc_blogger_content">
                                                                                        <p>El seguro social de la Union que la primera semana de Agosto se estara vacunando a las personas de 15 años...</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column-1_1 column_item_3 ">
                                                                            <div class="post_item post_item_news sc_blogger_item sc_blogger_item_last">
                                                                                <div class="post_featured">
                                                                                    <div class="post_thumb" data-image="images/futbol.jpg" data-title="A Simple Plan to Fix Our Economy.">
                                                                                        <a class="hover_icon hover_icon_link" href="activity">
                                                                                            <img alt="" src="images/futbol.jpg">
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="post_inner">
                                                                                    <div class="post_date">Agosto 9, 2021 a las 12:32 pm</div>
                                                                                    <h4 class="post_title sc_title sc_blogger_title">
                                                                                        <a href="activity">Pruebas de futbol</a>
                                                                                    </h4>
                                                                                    <div class="post_content sc_blogger_content">
                                                                                        <p>La Union Juventud Deportiva se complace en anunciar que se realizaran pruebas para el equipo profesional...</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-item">
                                                        <div class="sc_sidebar_selector">
                                                            <div class="sc_columns_1 sc_columns_indent">
                                                                <div class="widget_area">
                                                                    <aside class="widget widget_calendar">
                                                                        <div class="current_day">
                                                                            <div class="day">MIERCOLES</div>
                                                                            <div class='flat-icon'>11</div>
                                                                        </div>
                                                                        <h5 class="widget_title"></h5>
                                                                        <table class="wp-calendar">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="month_prev">
                                                                                        <a href="#" data-type="post" data-year="2021" data-month="08" title="View posts for August 2021"></a>
                                                                                    </th>
                                                                                    <th class="month_cur" colspan="5">Agosto </th>
                                                                                    <th class="month_next">&nbsp;</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th class="weekday" scope="col" title="Monday">L</th>
                                                                                    <th class="weekday" scope="col" title="Tuesday">K</th>
                                                                                    <th class="weekday" scope="col" title="Wednesday">M</th>
                                                                                    <th class="weekday" scope="col" title="Thursday">J</th>
                                                                                    <th class="weekday" scope="col" title="Friday">V</th>
                                                                                    <th class="weekday" scope="col" title="Saturday">S</th>
                                                                                    <th class="weekday" scope="col" title="Sunday">D</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td colspan="5" class="pad"><span class="day_wrap">&nbsp;</span></td>
                                                                                    <td class="day"><span class="day_wrap">1</span></td>
                                                                                    <td class="day"><span class="day_wrap">2</span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="day"><span class="day_wrap">3</span></td>
                                                                                    <td class="day"><span class="day_wrap">4</span></td>
                                                                                    <td class="day"><span class="day_wrap">5</span></td>
                                                                                    <td class="day"><span class="day_wrap">6</span></td>
                                                                                    <td class="day"><span class="day_wrap">7</span></td>
                                                                                    <td class="day"><span class="day_wrap">8</span></td>
                                                                                    <td class="day"><span class="day_wrap">9</span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="day"><span class="day_wrap">10</span></td>
                                                                                    <td class="day"><span class="day_wrap">11</span></td>
                                                                                    <td class="day"><span class="day_wrap">12</span></td>
                                                                                    <td class="day"><span class="day_wrap">13</span></td>
                                                                                    <td class="day"><span class="day_wrap">14</span></td>
                                                                                    <td class="day"><span class="day_wrap">15</span></td>
                                                                                    <td class="day"><span class="day_wrap">16</span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="day"><span class="day_wrap">17</span></td>
                                                                                    <td class="today"><span class="day_wrap">18</span></td>
                                                                                    <td class="day"><span class="day_wrap">19</span></td>
                                                                                    <td class="day"><span class="day_wrap">20</span></td>
                                                                                    <td class="day"><span class="day_wrap">21</span></td>
                                                                                    <td class="day"><span class="day_wrap">22</span></td>
                                                                                    <td class="day"><span class="day_wrap">23</span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="day"><span class="day_wrap">24</span></td>
                                                                                    <td class="day"><span class="day_wrap">25</span></td>
                                                                                    <td class="day"><span class="day_wrap">26</span></td>
                                                                                    <td class="day"><span class="day_wrap">27</span></td>
                                                                                    <td class="day"><span class="day_wrap">28</span></td>
                                                                                    <td class="day"><span class="day_wrap">29</span></td>
                                                                                    <td class="day"><span class="day_wrap">30</span></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="day"><span class="day_wrap">31</span></td>
                                                                                    <td class="pad" colspan="6"><span class="day_wrap">&nbsp;</span></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </aside>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="grid-item">
                                                        <div class="sc_section bg2">
                                                            <div class="sc_section_overlay pd30 shift1">
                                                                <div class="sc_section_content">
                                                                    <figure class="sc_image alignleft sc_image_shape_square cublock2">
                                                                        <img src="images/67-91x92.png" alt="" />
                                                                    </figure>
                                                                    <h6 class="sc_title sc_title_regular fst4">COMENTARIOS</h6>
                                                                    <p class="sc_text fst5">58</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-item">
                                                        <div class="sc_section bg2">
                                                            <div class="sc_section_overlay pd30 shift1">
                                                                <div class="sc_section_content">
                                                                    <figure class="sc_image alignleft sc_image_shape_square cublock2">
                                                                        <img src="images/68-91x91.png" alt="" />
                                                                    </figure>
                                                                    <h6 class="sc_title sc_title_regular fst4">ACTIVIDADES REALIZADAS</h6>
                                                                    <p class="sc_text fst5">25</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="grid-item grid-item--width2">
            <div class="sc_section bg2">
                <div class="sc_section_overlay pd25">
                    <div class="sc_section_content">
                        <h5 class="sc_title sc_title_regular fst6">Fiscal Year End</h5>
                        <ul class="sc_islands ">
                            <li class="sc_islands_item sc_item_type_2 isl_1">
                                <div class="sc_item_value">
                                    <div class="value">Apr - June</div>
                                    <div class="line"></div>
                                    <div class="circle"></div>
                                </div>
                            </li>
                            <li class="sc_islands_item sc_item_type_1 isl_2">
                                <div class="sc_item_value">
                                    <div class="value">Jan - Mar</div>
                                    <div class="line"></div>
                                    <div class="circle"></div>
                                </div>
                            </li>
                            <li class="sc_islands_item sc_item_type_4 isl_3">
                                <div class="sc_item_value">
                                    <div class="value">Oct - Dec</div>
                                    <div class="line"></div>
                                    <div class="circle"></div>
                                </div>
                            </li>
                            <li class="sc_islands_item sc_item_type_3 isl_4">
                                <div class="sc_item_value">
                                    <div class="value">Jule - Sep</div>
                                    <div class="line"></div>
                                    <div class="circle"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@
                                                    <div class="grid-item">
                                                        <div class="sc_sidebar_selector">
                                                            <div class="sc_columns_1 sc_columns_indent">
                                                                <div class="widget_area">
                                                                    <aside class="widget widget_recent_comments">
                                                                        <h5 class="widget_title">Grupos</h5>
                                                                        <ul id="recentcomments">
                                                                            <li class="recentcomments">
                                                                                <span class="comment-author-link">Grupo: </span>
                                                                                <a href="members1">Baile Popular</a>
                                                                            </li>
                                                                            <li class="recentcomments">
                                                                                <span class="comment-author-link">Grupo</span>
                                                                                <a href="members1#">Escuela de Manualidades</a>
                                                                            </li>
                                                                        </ul>
                                                                    </aside>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-item">
                                                        <div class="sc_section bg2">
                                                            <div class="sc_section_overlay pd30">
                                                                <div class="sc_section_content">
                                                                    <div class="weblator-poll-container" data-poll-id="1">
                                                                        <div class="weblator-poll-loading">Loading</div>
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h3 class="panel-title">Poll: Cambiarian algo del parque de Tres Rios</h3>
                                                                            </div>
                                                                            <div class="panel-body weblator-poll-vote">
                                                                                <div class="alert alert-success">Gracias por Votar</div>
                                                                                <div class="alert alert-warning">Ya has votado</div>
                                                                                <div class="alert alert-danger">Por favor selecciona una opcion</div>
                                                                                <ul>
                                                                                    <li>
                                                                                        <input type="radio" data-index="0" name="weblator-chart-options" id="option-7" data-poll-id="1" value="7" />
                                                                                        <label for="option-7">Opcion 1: La concha</label>
                                                                                    </li>
                                                                                    <li>
                                                                                        <input type="radio" data-index="1" name="weblator-chart-options" id="option-8" data-poll-id="1" value="8" />
                                                                                        <label for="option-8">Opcion 2: Anfiteatro</label>
                                                                                    </li>
                                                                                    <li>
                                                                                        <input type="radio" data-index="2" name="weblator-chart-options" id="option-9" data-poll-id="1" value="9" />
                                                                                        <label for="option-9">Opcion 3: La iglesia</label>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="panel-footer">
                                                                                <div class="button-vote">
                                                                                    <button class="btn btn-default vote-button weblator-poll-submit">
                                                                                        <i class="fa fa-spinner fa-spin vote-spin"></i> Vota
                                                                                    </button>
                                                                                </div>
                                                                                <div class="weblator-view-results">
                                                                                    <a href="#" class="weblator-view-poll btn btn-default">Ver</a>
                                                                                    <a href="#" class="weblator-hide-poll btn btn-default">Esconder</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="width-control w400p">
                                                                            <ul data-font-size="12" id="legend-1" class="legend tl fst7 hideblock">
                                                                                <li class="title">
                                                                                    <div class="box bg10"></div>
                                                                                    <div class="weblator-label fst35">Opcion 1: La concha</div>
                                                                                </li>
                                                                                <li class="title">
                                                                                    <div class="box bg11"></div>
                                                                                    <div class="weblator-label fst35">Opcion 2: Anfiteatro</div>
                                                                                </li>
                                                                                <li class="title">
                                                                                    <div class="box bg12"></div>
                                                                                    <div class="weblator-label fst35">Opcion 3: La iglesia</div>
                                                                                </li>
                                                                            </ul>
                                                                            <canvas data-width="400px" data-weblator-poll-id="1" id="weblator-chart-1" class="weblator-chart cublock41" height="141" width="282" data-chart='{!labels!:[!Opcion 1: La concha!,!Opcion 2: Anfiteatro!,!Opcion 3: La iglesia!],!options!:{!segmentShowStroke!:1,!segmentStrokeColor!:!rgba(255,255,255,1)!,!segmentStrokeWidth!:2,!responsive!:true},!maxWidth!:!400!,!minWidth!:!400!,!showLegend!:!1!,!totals!:[!626!,!713!,!596!],!option_colours!:[!rgb(109, 204, 221)!,!rgb(139, 198, 63)!,!rgb(238, 57, 64)!],!styles!:[],!chart_type!:!3!}'></canvas>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="grid-item">
            <div class="sc_blogger layout_masonry_1 template_masonry sc_blogger_horizontal no_description mgcu3" data-size="750x585">
                <div class="isotope_wrap" data-columns="3">
                    <div class="isotope_item isotope_item_masonry isotope_item_thumb isotope_item_masonry_1 isotope_column_1">
                        <div class="post_item post_item_masonry post_item_masonry_1 post_format_image">
                            <div class="post_featured">
                                <div class="post_thumb" data-title="Pellentesque aliquet sapien vitae erat gravida volutpat.">
                                    <a class="hover_icon hover_icon_link" href="Post-Formats">

                                    </a>
                                </div>
                            </div>
                            <div class="post_content isotope_item_content">
                                <div class="post_info">
                                    <span class="likes">24</span>
                                    <span class="comments">2</span>
                                </div>
                                <h3 class="post_title">
                                    <a href="Post-Formats">Podcast: Psicologia Oscura.</a>
                                </h3>
                                <div class="post_date">Agosto 5, 2019 a las 7:55 am</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
                                                    <div class="grid-item">
                                                        <div class="sc_blogger layout_masonry_1 template_masonry sc_blogger_horizontal no_description mgcu3" data-size="750x585">
                                                            <div class="isotope_wrap" data-columns="3">
                                                                <div class="isotope_item isotope_item_masonry isotope_item_masonry_1 isotope_column_1">
                                                                    <div class="post_item post_item_masonry post_item_masonry_1 post_format_standard">
                                                                        <div class="post_content isotope_item_content">
                                                                            <div class="post_info">
                                                                                <span class="likes">24</span>
                                                                                <span class="comments">2</span>
                                                                            </div>
                                                                            <h3 class="post_title">
                                                                                <a href="Post-Formats">Podcast: Psicologia Oscura.</a>
                                                                            </h3>
                                                                            <div class="post_date">Agosto 5, 2019 a las 7:55 am</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-item">
                                                        <div class="sc_blogger layout_masonry_1 template_masonry sc_blogger_horizontal no_description mgcu3" data-size="750x585">
                                                            <div class="isotope_wrap" data-columns="3">
                                                                <div class="isotope_item isotope_item_masonry isotope_item_masonry_1 isotope_column_1">
                                                                    <div class="post_item post_item_masonry post_item_masonry_1 post_format_standard">
                                                                        <div class="post_content isotope_item_content">
                                                                            <div class="post_info">
                                                                                <span class="likes">125</span>
                                                                                <span class="comments">20</span>
                                                                            </div>
                                                                            <h3 class="post_title">
                                                                                <a href="Post-Formats">Podcast: Entiende tu mente.</a>
                                                                            </h3>
                                                                            <div class="post_date">Junio 5, 2020 a las 7:55 am</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-item">
                                                        <div class="sc_sidebar_selector">
                                                            <div class="sc_columns_1 sc_columns_indent">
                                                                <div class="widget_area">
                                                                    <aside class="widget widget_display_replies">
                                                                        <h5 class="widget_title">Comentarios Recientes</h5>
                                                                        <ul>
                                                                            <li>
                                                                                <a href="single-post" title="View Santroz9&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                                                    <img src="images/David.jpg" class="avatar user-71-avatar avatar-14 photo" width="14" height="14" alt="" />
                                                                                </a>&nbsp;
                                                                                <a href="single-post" class="bbp-author-name" rel="nofollow">David Fallas</a> en
                                                                                <a class="bbp-reply-topic-title" href="single-post#post-1" title="Great. Next.">Charla de Manejo de emociones</a>
                                                                                <div>hace 2 meses</div>
                                                                            </li>
                                                                            <li>
                                                                                <a href="single-post" title="View Santroz9&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                                                    <img src="images/Brad.jpg" class="avatar user-71-avatar avatar-14 photo" width="14" height="14" alt="" />
                                                                                </a>&nbsp;
                                                                                <a href="single-post" title="View Santroz9&#039;s profile" class="bbp-author-name" rel="nofollow">Mario Garita</a> en
                                                                                <a class="bbp-reply-topic-title" href="single-post#post-2" title="This is a great post.">Charla de Manejo de emociones</a>
                                                                                <div>hace 2 meses</div>
                                                                            </li>
                                                                            <li>
                                                                                <a href="single-post1" title="View Santroz9&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                                                    <img src="images/Max.jpg" class="avatar user-71-avatar avatar-14 photo" width="14" height="14" alt="" />
                                                                                </a>&nbsp;
                                                                                <a href="single-post1" class="bbp-author-name" rel="nofollow">Connor McGregor</a> en
                                                                                <a class="bbp-reply-topic-title" href="single-post1#post-2" title="Hi !">Noticias la Union</a>
                                                                                <div>hace 2 meses</div>
                                                                            </li>
                                                                            <li>
                                                                                <a href="single-post1" title="View Mary Fisher&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                                                    <img src="images/David.jpg" class="avatar user-7-avatar avatar-14 photo" width="14" height="14" alt="" />
                                                                                </a>&nbsp;
                                                                                <a href="single-post1" class="bbp-author-name" rel="nofollow">David Fallas</a> en
                                                                                <a class="bbp-reply-topic-title" href="single-post1#post-1" title="kjkjk">Noticias la Union</a>
                                                                                <div>hace 2 meses</div>
                                                                            </li>
                                                                            <li>
                                                                                <a href="single-post2" title="View Mary Fisher&#039;s profile" class="bbp-author-avatar" rel="nofollow">
                                                                                    <img src="images/Max.jpg" class="avatar user-7-avatar avatar-14 photo" width="14" height="14" alt="" />
                                                                                </a>&nbsp;
                                                                                <a href="single-post2" class="bbp-author-name" rel="nofollow">Connor McGregor</a> en
                                                                                <a class="bbp-reply-topic-title" href="single-post2#post-2" title="">Actividades la Union</a>
                                                                                <div>hace 2 meses</div>
                                                                            </li>
                                                                        </ul>
                                                                    </aside>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="grid-item grid-item--width2 responsive_small ">
            <div id="sc_slider_382" class="sc_slider sc_slider_swiper swiper-slider-container sc_slider_height_fixed sc_slider_controls sc_slider_nopagination" data-old-width="763" data-old-height="460" data-interval="8772">
                <div class="slides swiper-wrapper">
                    <div class="swiper-slide" data-style="width:763px;height:460px;">
                        <a href="activity" title="New iPhone 6S Report Confirms 7 Biggest Features">
                            <img alt="" src="images/recaudacion.jpg">
                            <div class="sc_slider_info content-slide">
                                <h2 class="sc_slider_subtitle">
                                    <a href="activity">Recaudacion de Fondos</a>
                                </h2>
                                <div class="sc_slider_date">8/13/2021</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide" data-style="width:763px;height:460px;">
                        <a href="activity" title="The beautiful Prologue is a new visionary design for Audi">
                            <img alt="" src="images/vacunacionindex.jpg">
                            <div class="sc_slider_info content-slide">
                                <h2 class="sc_slider_subtitle">
                                    <a href="activity">Vacunacion</a>
                                </h2>
                                <div class="sc_slider_date">8/2/2021</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide" data-style="width:763px;height:460px;">
                        <a href="activity" title="New iPhone 6S Report Confirms 7 Biggest Features">
                            <img alt="" src="images/futbolindex2.jpg">
                            <div class="sc_slider_info content-slide">
                                <h2 class="sc_slider_subtitle">
                                    <a href="activity">Pruebas de Futbol</a>
                                </h2>
                                <div class="sc_slider_date">7/25/2021</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="sc_slider_controls_wrap">
                    <a class="sc_slider_prev" href="#"></a>
                    <a class="sc_slider_next" href="#"></a>
                </div>
            </div>
        </div>*@
                                                    <div class="grid-item">
                                                        <div class="sc_section bg2">
                                                            <div class="sc_section_overlay pd30">
                                                                <div class="sc_section_content">
                                                                    <a name="target-toc-13"></a>
                                                                    <h5 class="sc_title sc_title_regular fst21">Actividades por Distrito</h5>
                                                                    <div class="tw-chart-graph tw-animate tw-redraw with-list-desc w550p" data-zero="false" data-labels="San Juan, Tres Rios, San Diego, Sna Rafael,Dulce Nombre, " data-type="Curve" data-item-height="184" data-animation-delay="0" data-animation-offset="90%">
                                                                        <ul class="data hideblock">
                                                                            <li data-datas="1, 2, 3, 4, 5, 6" data-fill-color="#89e1ee" data-fill-text="2019"></li>
                                                                            <li data-datas="3, 5, 6, 4, 5, 10" data-fill-color="#5cbece" data-fill-text="2020"></li>
                                                                            <li data-datas="2, 4, 6, 3, 4, 7" data-fill-color="#34aabe" data-fill-text="2021"></li>
                                                                        </ul>
                                                                        <canvas></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                    </div>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>
                        © 2021 Todos los Derechos Reservados.
                        @*<a href="#">Terms of use</a> and
        <a href="#">Privacy Policy</a>*@
                    </p>
                </div>
            </div>
            <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
        </div>
   

    <div class="custom_html_section"></div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/custom/date.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/poll.js'></script>
    <script type='text/javascript' src='js/custom/poll-init.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>
    <script type='text/javascript' src='js/vendor/comp/comp_front.min.js'></script>
    <script type='text/javascript' src='js/vendor/grid.js'></script>
    <script type='text/javascript' src='js/vendor/flipclock.js'></script>
    <script type='text/javascript' src='js/vendor/jquery.flatshadow.js'></script>
    <script type='text/javascript' src='js/vendor/isotope/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='js/vendor/swiper/idangerous.swiper-2.7.min.js'></script>
    <script type='text/javascript' src='js/vendor/swiper/idangerous.swiper.scrollbar-2.4.min.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chart.min.js'></script>
    <script type='text/javascript' src='js/vendor/chart/Graph.js'></script>

</body>
</html>