﻿@model BackEnd.Entities.Usuario

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout2.cshtml";
    Layout = null;


}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


@*<h1>Registro</h1>*@

@*<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Nombre de Usuario</label>
                    <input asp-for="NombreUsuario" class="form-control" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cedula" class="control-label"></label>
                    <input asp-for="Cedula" class="form-control" />
                    <span asp-validation-for="Cedula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Primer Apellido</label>
                    <input asp-for="Apellido1" class="form-control" />
                    <span asp-validation-for="Apellido1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Segundo Apellido</label>
                    <input asp-for="Apellido2" class="form-control" />
                    <span asp-validation-for="Apellido2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Correo Electronico</label>
                    <input asp-for="CorreoUsuario" class="form-control" />
                    <span asp-validation-for="CorreoUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Distrito</label>
                    <input asp-for="DistritoUsuario" class="form-control" />
                    <span asp-validation-for="DistritoUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Contraseña</label>
                    <input asp-for="Contrasena" class="form-control" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Registar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@


<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registarse</p>

                                <form class="mx-1 mx-md-4" asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="NombreUsuario" class="form-control" />
                                            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                                            <label class="form-label" for="form3Example1c">Nombre</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="Cedula" class="form-control" />
                                            <span asp-validation-for="Cedula" class="text-danger"></span>
                                            <label class="form-label" for="form3Example3c">Cedula</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="Apellido1" class="form-control" />
                                            <span asp-validation-for="Apellido1" class="text-danger"></span>
                                            <label class="form-label" for="form3Example4c">Primer Apellido</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="Apellido2" class="form-control" />
                                            <span asp-validation-for="Apellido2" class="text-danger"></span>
                                            <label class="form-label" for="form3Example4cd">Segundo Apellido</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="CorreoUsuario" class="form-control" />
                                            <span asp-validation-for="CorreoUsuario" class="text-danger"></span>
                                            <label class="form-label" for="form3Example4cd">Correo</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="DistritoUsuario" class="form-control" />
                                            <span asp-validation-for="DistritoUsuario" class="text-danger"></span>
                                            <label class="form-label" for="form3Example4cd">Distrito</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="Contrasena" class="form-control" />
                                            <span asp-validation-for="Contrasena" class="text-danger"></span>
                                            <label class="form-label" for="form3Example4cd">Contraseña</label>
                                        </div>
                                    </div>


                                    @*<div class="form-check d-flex justify-content-center mb-5">
                                            <input class="form-check-input me-2"
                                                   type="checkbox"
                                                   value=""
                                                   id="form2Example3c" />
                                            <label class="form-check-label" for="form2Example3">
                                                I agree all statements in <a href="#!">Terms of service</a>
                                            </label>
                                        </div>*@

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <input type="submit" value="Registar" class="btn btn-primary" />
                                        <hr />
                                        <a asp-action="IndexPrincipal">Regresar</a>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://launion.go.cr/wp-content/uploads/2020/02/CCPJ.jpg" class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

