﻿@page
@model LaUnionCCPJ3.Pages.Shared.TrainingsModel
@{
}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.png" />
    <title>Tutores &#8211; Alliance</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Love+Ya+Like+A+Sister|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,300i,400,400i,600,700,700i,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,100i,300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='css/public.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/notie.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.messages.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.portfolio.min.css' type='text/css' media='all' />
</head>

<body class="page trainingspg body_style_wide body_filled article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_over sidebar_hide responsive_menu vc_responsive no-js">
    <div class="body_wrap">
            <div class="page_top_wrap page_top_title page_top_breadcrumbs">
                <div class="content_wrap">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Inicio</a>
                        <span class="breadcrumbs_delimiter"> / </span>
                        <span class="breadcrumbs_item current">Tutores</span>
                    </div>
                    <h5 class="page_title">
                        <span class="page_icon icon-16"></span>Tutores
                    </h5>
                </div>
            </div>
            <div class="page_content_wrap">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single post_featured_left post_format_standard page hentry">
                            <section class="post_content">
                                <div class="sc_reviews alignright"></div>
                                <div id="sc_blogger_236" class="sc_blogger layout_courses_3 template_portfolio sc_blogger_horizontal no_description mgcu3" data-size="400x273">
                                    <div class="isotope_filters"></div>
                                    <div class="isotope_wrap" data-columns="3">
                                        <div class="isotope_item isotope_item_courses isotope_item_courses_3 isotope_column_3 flt_44 flt_45">
                                            <div class="post_item post_item_courses post_item_courses_3 post_format_standard odd">
                                                <div class="post_content isotope_item_content ih-item colored square effect_shift left_to_right">
                                                    <div class="post_featured img">
                                                        <a href="single-training.html">

                                                        </a>
                                                        <div class="post_header">
                                                            <h3 class="post_title">
                                                                <a href="single-training.html">JULIAN RODIRGUEZ</a>
                                                            </h3>
                                                            <a href="single-training.html" class="post_category bg3">Estudios Sociales</a>
                                                        </div>
                                                        <div class="post_descr">
                                                            <div class="post">
                                                                <span class="post_value">₡ 15000</span>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="isotope_item isotope_item_courses isotope_item_courses_3 isotope_column_3 flt_43 flt_42 flt_44">
                                            <div class="post_item post_item_courses post_item_courses_3 post_format_standard even">
                                                <div class="post_content isotope_item_content ih-item colored square effect_shift left_to_right">
                                                    <div class="post_featured img">
                                                        <a href="single-training.html">

                                                        </a>
                                                        <div class="post_header">
                                                            <h3 class="post_title">
                                                                <a href="single-training.html">ALEJANDRO SURA</a>
                                                            </h3>
                                                            <a href="single-training.html" class="post_category bg_lime">TECNOLOGIA</a>
                                                        </div>
                                                        <div class="post_descr">
                                                            <div class="post">
                                                                <span class="post_value">₡ 3500</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="isotope_item isotope_item_courses isotope_item_courses_3 isotope_column_3 flt_45">
                                            <div class="post_item post_item_courses post_item_courses_3 post_format_standard odd">
                                                <div class="post_content isotope_item_content ih-item colored square effect_shift left_to_right">
                                                    <div class="post_featured img">
                                                        <a href="single-training.html">

                                                        </a>
                                                        <div class="post_header">
                                                            <h3 class="post_title">
                                                                <a href="single-training.html">MARIBEL PALAO</a>
                                                            </h3>
                                                            <a href="single-training.html" class="post_category bg_red">MATAMETICAS</a>
                                                        </div>
                                                        <div class="post_descr">
                                                            <div class="post">
                                                                <span class="post_value">₡ 4500</span>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="isotope_item isotope_item_courses isotope_item_courses_3 isotope_column_3 flt_43 flt_42">
                                            <div class="post_item post_item_courses post_item_courses_3 post_format_standard even">
                                                <div class="post_content isotope_item_content ih-item colored square effect_shift left_to_right">
                                                    <div class="post_featured img">
                                                        <a href="single-training.html">

                                                        </a>
                                                        <div class="post_header">
                                                            <h3 class="post_title">
                                                                <a href="single-training.html">GUILLERMO SOLIS</a>
                                                            </h3>
                                                            <a href="single-training.html" class="post_category bg_yellow">ESPAÑOL</a>
                                                        </div>
                                                        <div class="post_descr">
                                                            <div class="post">
                                                                <span class="post_value">₡ 7800</span>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="isotope_item isotope_item_courses isotope_item_courses_3 isotope_column_3 flt_43 flt_44">
                                            <div class="post_item post_item_courses post_item_courses_3 post_format_standard odd">
                                                <div class="post_content isotope_item_content ih-item colored square effect_shift left_to_right">
                                                    <div class="post_featured img">
                                                        <a href="single-training.html">

                                                        </a>
                                                        <div class="post_header">
                                                            <h3 class="post_title">
                                                                <a href="single-training.html">CHANG MING</a>
                                                            </h3>
                                                            <a href="single-training.html" class="post_category bg_orange">FISICA</a>
                                                        </div>
                                                        <div class="post_descr">
                                                            <div class="post">
                                                                <span class="post_value">₡ 8000</span>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="isotope_item isotope_item_courses isotope_item_courses_3 isotope_column_3 flt_45">
                                            <div class="post_item post_item_courses post_item_courses_3 post_format_standard even">
                                                <div class="post_content isotope_item_content ih-item colored square effect_shift left_to_right">
                                                    <div class="post_featured img">
                                                        <a href="single-training.html">

                                                        </a>
                                                        <div class="post_header">
                                                            <h3 class="post_title">
                                                                <a href="single-training.html">REBECA FERNANDEZ</a>
                                                            </h3>
                                                            <a href="single-training.html" class="post_category bg_purple">MATAMETICAS</a>
                                                        </div>
                                                        <div class="post_descr">
                                                            <div class="post">
                                                                <span class="post_value">₡ 45000</span>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="isotope_item isotope_item_courses isotope_item_courses_3 isotope_column_3 flt_42 flt_44">
                                            <div class="post_item post_item_courses post_item_courses_3 post_format_standard odd">
                                                <div class="post_content isotope_item_content ih-item colored square effect_shift left_to_right">
                                                    <div class="post_featured img">
                                                        <a href="single-training.html">

                                                        </a>
                                                        <div class="post_header">
                                                            <h3 class="post_title">
                                                                <a href="single-training.html">RITA OTAROLA</a>
                                                            </h3>
                                                            <a href="single-training.html" class="post_category bg_red">FISICA</a>
                                                        </div>
                                                        <div class="post_descr">
                                                            <div class="post">
                                                                <span class="post_value">₡ 7800</span>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="isotope_item isotope_item_courses isotope_item_courses_3 isotope_column_3 flt_43 flt_44">
                                            <div class="post_item post_item_courses post_item_courses_3 post_format_standard even">
                                                <div class="post_content isotope_item_content ih-item colored square effect_shift left_to_right">
                                                    <div class="post_featured img">
                                                        <a href="single-training.html">

                                                        </a>
                                                        <div class="post_header">
                                                            <h3 class="post_title">
                                                                <a href="single-training.html">ESTEBAN SANCHEZ</a>
                                                            </h3>
                                                            <a href="single-training.html" class="post_category bg3">CIENCIAS</a>
                                                        </div>
                                                        <div class="post_descr">
                                                            <div class="post">
                                                                <span class="post_value">₡ 9000</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="isotope_item isotope_item_courses isotope_item_courses_3 isotope_column_3 flt_43 flt_42">
                                            <div class="post_item post_item_courses post_item_courses_3 post_format_standard odd last">
                                                <div class="post_content isotope_item_content ih-item colored square effect_shift left_to_right">
                                                    <div class="post_featured img">
                                                        <a href="single-training.html">

                                                        </a>
                                                        <div class="post_header">
                                                            <h3 class="post_title">
                                                                <a href="single-training.html">MARTIN HERNANDEZ</a>
                                                            </h3>
                                                            <a href="single-training.html" class="post_category bg_lime">CIENCIA</a>
                                                        </div>
                                                        <div class="post_descr">
                                                            <div class="post">
                                                                <span class="post_value">₡ 8500</span>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </section>
                        </article>
                        <section class="related_wrap related_wrap_empty"></section>
                    </div>
                </div>
            </div>
            <div class="copyright_wrap">
                <div class="content_wrap">
                    <p>
                        © 2021 Todos los Derechos Reservados.
                        @*<a href="#">Terms of use</a> and
                        <a href="#">Privacy Policy</a>*@
                    </p>
                </div>
            </div>
            <a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"></a>
        </div>
    

    <div class="custom_html_section">
    </div>

    <script type='text/javascript' src='js/vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/custom/custom.js'></script>
    <script type='text/javascript' src='js/vendor/jquery/jquery.my_add_function.js'></script>
    <script type='text/javascript' src='http://use.fontawesome.com/fcc8474e79.js'></script>
    <script type='text/javascript' src='js/custom/excanvas.js'></script>
    <script type='text/javascript' src='js/vendor/booked/datepicker.min.js'></script>
    <script type='text/javascript' src='js/vendor/bp/foundation.min.js'></script>
    <script type='text/javascript' src='js/custom/cptfunctions.js'></script>
    <script type='text/javascript' src='js/custom/jquery.nestable.js'></script>
    <script type='text/javascript' src='js/custom/cptinnerfun.js'></script>
    <script type='text/javascript' src='js/vendor/chart/chartjs_new.js'></script>
    <script type='text/javascript' src='js/custom/legend.js'></script>
    <script type='text/javascript' src='js/custom/responsive.init.js'></script>
    <script type='text/javascript' src='js/custom/core.utils.js'></script>
    <script type='text/javascript' src='js/custom/core.init.js'></script>
    <script type='text/javascript' src='js/custom/embed.min.js'></script>
    <script type='text/javascript' src='js/custom/core.messages.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>
    <script type='text/javascript' src='js/vendor/isotope/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='js/custom/jquery.hoverdir.min.js'></script>

</body>

</html>